:root {
    --light-colour: #e0e0e0;
    --dark-colour: #202020;
}

#main {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Josefin Sans";
    src: url('../src/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

.text {
    font-family: "Josefin Sans";
    z-index: 1;
    color: var(--light-colour);
    text-align: center;
    margin: 0;
    padding: 0;
    user-select: none;
}

#navbar {
    transform: translateX(-50%);
    z-index: 10;
    position: fixed;
    background-color: var(--dark-colour);
    left: 50%;
    width: 50vw;
    height: 8vh;
    margin: 0;
    padding: 0;
    border-radius: 0 0 3vw 3vw;
}

.navbar-text {
    text-decoration: none;
    float: left;
    padding: 0;
    margin: 0 1.1vw;
    transform: translateY(110%);
    text-align: center;
    font-size: 1.2vw;
    filter: brightness(1) grayscale(1);
}

.navbar-text:hover {
    transform: translateY(115%);
    filter: brightness(0.6) grayscale(0);
    transition: transform 0.25s, filter 0.25s;
}

#logo {
    fill: var(--light-colour);
    float: left;
    user-select: none;
    height: 90%;
    transform: translateY(5%);
    padding-left: 1vw;
    filter: invert();
}

.divider {
    margin: 0 1vw 0 1vw;
    float: left;
    border-radius: 1vw;
    width: .2vw;
    height: 60%;
    transform: translateY(30%);
    background-color: var(--light-colour);
}

#icon-divider {
    float: right;
}

.icon {
    float: right;
    filter: invert() brightness(0.8);
    height: 50%;
    width: 2vw;
    margin-top: 1.5%;
}

#icon-facebook {
    margin-right: 3%;
}

#icon-facebook:hover {
    filter: none;
    margin-top: 1.65%;
    transition: margin-top 0.25s;
}

#icon-facebook:hover g {
    filter: invert() brightness(2.1);
    fill: hsl(40, 70%, 60%);
    transition: fill 0.25s;
}

#icon-mail {
    margin-right: 1.5%;
}

#icon-mail:hover {
    filter: none;
    margin-top: 1.65%;
    transition: margin-top 0.25s;
}

#icon-mail:hover g {
    filter: invert() brightness(2.1);
    fill: hsl(180, 70%, 60%);
    transition: fill 0.25s;

}

@keyframes icon-anim-hover {
    from {filter: grayscale(1) brightness(2.1);}
    to {filter: grayscale(0) brightness(1);}
}

.section {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}


#frontpage {
    background-color: var(--dark-colour);
    width: 100%;
    overflow-y: hidden;
}

#frontpage-video {
    user-select: none;
    position: static;
    width: 100%;
    z-index: -1;
    margin-top: -10vh;
    filter: blur(0.5vw) saturate(0.5);

}

#frontpage-text-bulik {
    opacity: 0;
    top: 35%;
    left: 50%;
    animation-name: show-main-bulik;
    animation-duration: 1.5s;
}

#frontpage-text-eskuvo {
    opacity: 0;
    top: 50%;
    left: 65%;
    animation-delay: 0.33s;
    animation-name: show-main-eskuvo;
    animation-duration: 1.5s;
}

#frontpage-text-rendezveny {
    opacity: 0;
    top: 65%;
    left: 35%;
    animation-delay: 0.66s;
    animation-name: show-main-rendezveny;
    animation-duration: 1.5s;
}

.main-text {
    font-size: 7vw;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    animation-fill-mode: forwards;
}

@keyframes show-main-bulik {
    from {left: 10%; opacity: 0;}
    to {left: 25%; opacity: 1;}
}

@keyframes show-main-eskuvo {
    from {left: 25%; opacity: 0;}
    to {left: 40%; opacity: 1;}
}


@keyframes show-main-rendezveny {
    from {left: 45%; opacity: 0;}
    to {left: 60%; opacity: 1;}
}