/*
===============================================================================================

888b     d888        d8888 8888888 888b    888      88888888888     d8888  .d8888b.   .d8888b.  
8888b   d8888       d88888   888   8888b   888          888        d88888 d88P  Y88b d88P  Y88b 
88888b.d88888      d88P888   888   88888b  888          888       d88P888 888    888 Y88b.      
888Y88888P888     d88P 888   888   888Y88b 888          888      d88P 888 888         "Y888b.   
888 Y888P 888    d88P  888   888   888 Y88b888          888     d88P  888 888  88888     "Y88b. 
888  Y8P  888   d88P   888   888   888  Y88888          888    d88P   888 888    888       "888 
888   "   888  d8888888888   888   888   Y8888          888   d8888888888 Y88b  d88P Y88b  d88P 
888       888 d88P     888 8888888 888    Y888          888  d88P     888  "Y8888P88  "Y8888P"  

=============================================================================================== 
*/

:root {
    --light-colour: #e0e0e0;
    --dark-colour: #202020;
    --dark-secondary: #171717;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Josefin Sans";
    src: url('../src/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

.text {
    font-family: "Josefin Sans";
    z-index: 1;
    color: var(--light-colour);
    text-align: center;
    margin: 0;
    padding: 0;
    user-select: none;
}

.section {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: auto;
    overflow: hidden;
    background-color: var(--dark-colour);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/*
======================================================================

888b    888        d8888 888     888 888888b.         d8888 8888888b.  
8888b   888       d88888 888     888 888  "88b       d88888 888   Y88b 
88888b  888      d88P888 888     888 888  .88P      d88P888 888    888 
888Y88b 888     d88P 888 Y88b   d88P 8888888K.     d88P 888 888   d88P 
888 Y88b888    d88P  888  Y88b d88P  888  "Y88b   d88P  888 8888888P"  
888  Y88888   d88P   888   Y88o88P   888    888  d88P   888 888 T88b   
888   Y8888  d8888888888    Y888P    888   d88P d8888888888 888  T88b  
888    Y888 d88P     888     Y8P     8888888P" d88P     888 888   T88b 

======================================================================
*/

#navbar {
    transform: translateX(-50%);
    z-index: 11;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 0.5rem;
    background-color: var(--dark-secondary);
    left: 50%;
    width: 40rem;
    height: 3rem;
    margin: 0;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 0 0 3vw 3vw;
}


.navbar-text {
    text-decoration: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 1rem;
    filter: brightness(1) grayscale(1);
}

.navbar-text:hover {
    transform: translateY(10%);
    filter: brightness(2) grayscale(0);
    transition: transform 0.25s, filter 0.25s;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 1rem;
    padding: 0.5rem;
}

#logo {
    fill: var(--light-colour);
    user-select: none;
    width: 6rem;
    transform: translateY(5%);
    filter: invert();
}

.navbar-text-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    column-gap: 1.4rem;
    padding: 0 0.5rem;
    flex-grow: 1;
}

.divider {
    float: left;
    border-radius: 1rem;
    width: .2rem;
    height: 60%;
    background-color: var(--light-colour);
}

.icon {
    float: right;
    height: 50%;
    width: 1.5rem;
    margin-top: 1.5%;
}

.icon g {
    fill: var(--light-colour);
}

#icon-facebook {
    margin-right: 3%;
}

#icon-facebook:hover {
    filter: none;
    margin-top: 1.65%;
    transition: margin-top 0.25s;
}

#icon-facebook:hover g {
    fill: hsl(220, 70%, 60%);
    transition: fill 0.25s;
}

#icon-mail {
    margin-right: 1.5%;
}

#icon-mail:hover {
    filter: none;
    margin-top: 1.65%;
    transition: margin-top 0.25s;
}

#icon-mail:hover g {
    fill: hsl(0, 70%, 60%);
    transition: fill 0.25s;

}

.mobile {
    display: none;
}

/*
===================================================================================================

8888888888 8888888b.   .d88888b.  888b    888 88888888888 8888888b.     d8888  .d8888b.  8888888888 
888        888   Y88b d88P" "Y88b 8888b   888     888     888   Y88b   d88888 d88P  Y88b 888        
888        888    888 888     888 88888b  888     888     888    888  d88P888 888    888 888        
8888888    888   d88P 888     888 888Y88b 888     888     888   d88P d88P 888 888        8888888    
888        8888888P"  888     888 888 Y88b888     888     8888888P" d88P  888 888  88888 888        
888        888 T88b   888     888 888  Y88888     888     888      d88P   888 888    888 888        
888        888  T88b  Y88b. .d88P 888   Y8888     888     888     d8888888888 Y88b  d88P 888        
888        888   T88b  "Y88888P"  888    Y888     888     888    d88P     888  "Y8888P88 8888888888 

===================================================================================================
*/



#bck-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow-x: hidden;
    filter: blur(5px);
}

#frontpage-video {
    user-select: none;
    width: 100%;
    height: auto;
    filter: saturate(0.5);
}


#frontpage-text-bulik {
    opacity: 0;
    top: calc(50% - 10vw);
    left: 50%;
    animation-name: show-main-bulik;
    animation-duration: 1.5s;
}

#frontpage-text-eskuvo {
    opacity: 0;
    top: 50%;
    left: 65%;
    animation-delay: 0.33s;
    animation-name: show-main-eskuvo;
    animation-duration: 1.5s;
}

#frontpage-text-rendezveny {
    opacity: 0;
    top: calc(50% + 10vw);
    left: 35%;
    animation-delay: 0.66s;
    animation-name: show-main-rendezveny;
    animation-duration: 1.5s;
}

.main-text {
    font-size: 7vw;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    animation-fill-mode: forwards;
}

/*
====================================================
 .d8888b. 8888888888P  .d88888b.  888      .d8888b.  
d88P  Y88b      d88P  d88P" "Y88b 888     d88P  Y88b 
Y88b.          d88P   888     888 888     888    888 
 "Y888b.      d88P    888     888 888     888        
    "Y88b.   d88P     888     888 888     888  88888 
      "888  d88P      888     888 888     888    888 
Y88b  d88P d88P       Y88b. .d88P 888     Y88b  d88P 
 "Y8888P" d8888888888  "Y88888P"  88888888 "Y8888P88
====================================================
 */

#szolgaltatasok h1 {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 100;
}

.szolg-container {
    padding-top: 1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10%;
}

.szolg-item {
    cursor: pointer;
    width: 15%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.25s;
}

.szolg-item:hover {
    width: 17%;
    height: 60%;
}

.szolg-item-top {
    border-top-right-radius: 1rem;
    padding: 0.5rem;
    width: 100%;
    height: 50%;
    transform: skew(20deg);
    background-color: var(--light-colour);
    border: 1px solid black;
    transition: background 0.25s;
    display: grid;
}

.szolg-item-top:hover, .szolg-item-bottom:hover {
    background-color: var(--dark-colour);
    font-size: 1.7rem;
}


#szolg-item1 .szolg-item-top {
    background-position: 90% 30%;
    background-size: 40rem;
}

#szolg-item1 .szolg-item-bottom {
    background-position: 40% 0%;
    background-size: 50rem;
}

#szolg-item1 .szolg-item-top:hover {
    background-image: url('../src/img/retro_disco.JPG');
}
#szolg-item1 .szolg-item-top:hover a {
    color: rgb(217, 255, 0) !important;
}

#szolg-item1 .szolg-item-bottom:hover {
    background-image: url('../src/img/retro_bal.JPG');
}
#szolg-item2 .szolg-item-top:hover {
    background-image: url('../src/img/retro_disco.JPG');
}
#szolg-item2 .szolg-item-bottom:hover {
    background-image: url('../src/img/retro_disco.JPG');
}
#szolg-item3 .szolg-item-top:hover {
    background-image: url('../src/img/retro_disco.JPG');
}
#szolg-item3 .szolg-item-bottom:hover {
    background-image: url('../src/img/retro_disco.JPG');
}

.szolg-item-top:hover a, .szolg-item-bottom:hover a {
    color: var(--light-colour);
}

.szolg-item a {
    font-size: 1.2rem;
    color: black;
    transition: all 0.25s;
    width: 90%;
    text-wrap: wrap;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.szolg-item-top a {
    transform: skew(-20deg);
}

.szolg-item-bottom a {
    transform: skew(20deg);
}

.szolg-item-bottom {
    border-bottom-right-radius: 1rem;
    padding: 0.5rem;
    width: 100%;
    height: 50%;
    transform: skew(-20deg);
    background: var(--light-colour);
    border: 1px solid rgb(48, 50, 78);
    transition: border 0.25s;
    display: grid;
}

.szolg-bg {
    text-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--dark-colour);
}

.szolg-bg p {
    user-select: none;
    line-height: 1rem;
    margin-left: -100rem;
    color: #292929;
    transform: rotateZ(-30deg) translateX(0rem);
    font-size: 7vmin;
    animation-duration: 100s;
    animation-name: szolg-bg-anim;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.szolg-bg p.left {
    animation-direction: reverse;
}

/*
==========================================================
8888888b.   .d88888b.  888             d8888 888b     d888 
888   Y88b d88P" "Y88b 888            d88888 8888b   d8888 
888    888 888     888 888           d88P888 88888b.d88888 
888   d88P 888     888 888          d88P 888 888Y88888P888 
8888888P"  888     888 888         d88P  888 888 Y888P 888 
888 T88b   888     888 888        d88P   888 888  Y8P  888 
888  T88b  Y88b. .d88P 888       d8888888888 888   "   888 
888   T88b  "Y88888P"  88888888 d88P     888 888       888
==========================================================
*/

#rolam {
    color: var(--light-colour);
    padding: 0 0 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-image: url('../src/img/retro_bal.jpg');
}

#rolam h1 {
    padding: 0;
    margin: 6vmin 0 14vmin 0;
    font-size: 12vmin;
}

#rolam ul {
    list-style-image: url('../src/img/microphone_icon.svg');
    list-style-position: inside;
    background-color: var(--dark-colour);
    border-radius: 3%;
}

#rolam li {
    padding: 0;
    line-height: 5vmin;
    font-size: 3.5vmin;
}

#rolam img {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    align-self: flex-end;
}

#rolam video {
    position: relative;
    align-self: flex-end;
    margin-bottom: 1rem;
    margin-left: 4rem;
    bottom: 0;
    width: 30rem;
}

#img-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../src/img/retro_bal.jpg');
}

/*
=======================================================
888    d8P  8888888888 8888888b.  8888888888 888    d8P  
888   d8P   888        888   Y88b 888        888   d8P   
888  d8P    888        888    888 888        888  d8P    
888d88K     8888888    888   d88P 8888888    888d88K     
8888888b    888        8888888P"  888        8888888b    
888  Y88b   888        888        888        888  Y88b   
888   Y88b  888        888        888        888   Y88b  
888    Y88b 8888888888 888        8888888888 888    Y88b
========================================================
*/

#disc-container {
    width: 100%;
    height: 100%;
    position: relative;
    clip-path: circle(40vmin);
    padding: 0;
    margin: 0;
    bottom: -40%;
    transform: scale(1.1);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 1%, rgb(38, 0, 255) 1.3%, rgba(38, 0, 255,1) 10%, rgba(0,0,0,1) 10.3%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 35%);
    animation-name: rotate-disc;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    transition: transform 0.25s ease-in-out;
}

#disc-container:hover {
    animation-play-state: paused;
    transform: scale(1.3);
}

#disc-container img {
    display: none;
    position: relative;
    margin: 0;
    padding: 0;
    height: 23%;
    clip-path: polygon(0 20%, 50% 0, 100% 20%, 70% 100%, 50% 95%, 30% 100%);
}

#kepek-img1 {
    display: block !important;
    left: 50%;
    transform: translateX(-50%);
    top: 16%;
}

#kepek-img2 {
    display: block !important;
    left: 52.5%;
    transform: rotateZ(60deg);
    top: 4.5%;
}

#kepek-img3 {
    display: block !important;
    left: 52.25%;
    transform: rotateZ(120deg);
    top: 4%;
}

#kepek-img4 {
    display: block !important;
    left: 50%;
    transform: rotateZ(180deg) translateX(50%);
    top: -8%;
}

#kepek-img5 {
    display: block !important;
    left: 31.5%;
    transform: rotateZ(240deg);
    top: -42%;
}

#kepek-img6 {
    display: block !important;
    left: 31.5%;
    transform: rotateZ(300deg);
    top: -87.5%;
}

#disc-container p {
    color: var(--light-colour);
    text-align: center;
    font-size: 20vmin;
    margin: 0;
    padding: 0;
    position: relative;
    top: 20%;
}

/*
=================================================================================================================

       d8888 888b    888 8888888 888b     d888        d8888 88888888888 8888888 .d88888b.  888b    888  .d8888b.  
      d88888 8888b   888   888   8888b   d8888       d88888     888       888  d88P" "Y88b 8888b   888 d88P  Y88b 
     d88P888 88888b  888   888   88888b.d88888      d88P888     888       888  888     888 88888b  888 Y88b.      
    d88P 888 888Y88b 888   888   888Y88888P888     d88P 888     888       888  888     888 888Y88b 888  "Y888b.   
   d88P  888 888 Y88b888   888   888 Y888P 888    d88P  888     888       888  888     888 888 Y88b888     "Y88b. 
  d88P   888 888  Y88888   888   888  Y8P  888   d88P   888     888       888  888     888 888  Y88888       "888 
 d8888888888 888   Y8888   888   888   "   888  d8888888888     888       888  Y88b. .d88P 888   Y8888 Y88b  d88P 
d88P     888 888    Y888 8888888 888       888 d88P     888     888     8888888 "Y88888P"  888    Y888  "Y8888P"  
                       
=================================================================================================================                                                                                                                                                                                                           
*/

@keyframes rotate-disc {
    0% {rotate: 0deg;}
    100% {rotate: -360deg;}
} 

@keyframes szolg-bg-anim {
    from {transform: rotateZ(-30deg) translateX(-50%);}
    to {transform: rotateZ(-30deg) translateX(50%);};
}

@keyframes icon-anim-hover {
    from {filter: grayscale(1) brightness(2.1);}
    to {filter: grayscale(0) brightness(1);}
}

@keyframes show-main-bulik {
    from {left: 10%; opacity: 0;}
    to {left: 25%; opacity: 1;}
}

@keyframes show-main-eskuvo {
    from {left: 25%; opacity: 0;}
    to {left: 40%; opacity: 1;}
}


@keyframes show-main-rendezveny {
    from {left: 45%; opacity: 0;}
    to {left: 60%; opacity: 1;}
}

/*
=======================================================

888b     d888 8888888888 8888888b. 8888888        d8888 
8888b   d8888 888        888  "Y88b  888         d88888 
88888b.d88888 888        888    888  888        d88P888 
888Y88888P888 8888888    888    888  888       d88P 888 
888 Y888P 888 888        888    888  888      d88P  888 
888  Y8P  888 888        888    888  888     d88P   888 
888   "   888 888        888  .d88P  888    d8888888888 
888       888 8888888888 8888888P" 8888888 d88P     888 
                                                        
=======================================================  
*/

@media (max-aspect-ratio: 16/10) {
    #frontpage-video{
        height: 100%;
        width: auto;
    }
}

@media (max-width: 800px) {

    #navbar {
        width: 100%;
        background-color: var(--dark-secondary);
        column-gap: 3rem;
        justify-content: space-around;
    }

    .navbar-text-container {
        display: none;
    }

    .icon-container {
        display: none;
    }

    .divider {
        display: none;
    }

    .mobile {
        display: unset;
    }

    #frontpage-text-bulik {
        top: calc(50% - 20vw);
        font-size: 10vw;
    }

    #frontpage-text-eskuvo {
        top: 50%;
        font-size: 10vw;
    }

    #frontpage-text-rendezveny {
        top: calc(50% + 20vw);
        font-size: 10vw;
    }

    .navbar-dropdown-container {
        position: fixed;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-evenly;
        row-gap: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 8;
        background-color: var(--dark-secondary);
        margin-top: -13rem;
        padding: 2rem 3rem;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

    .navbar-dropdown-container a {
        font-size: 2rem;
    }

    #rolam h1 {
        padding: 0;
        margin: 0 0 20vmin 0;
        font-size: 12vmin;
    }

    #rolam ul {
        padding: 1vmin 2vmin 1vmin 2vmin;
    }

    #rolam li {
        padding: 0;
        line-height: 5vmin;
        font-size: 5vmin;
    }
}